/*********************************************************************************************************/
/* Date: April/May 2024 */
/* Contributor: mtrper001@myuct.ac.za */
/* Objective: Improve overal responsiveness of h3abionet.org mobile, laptop, ipad, and large screen look and feel */
/*********************************************************************************************************/


/* Styles for mobile devices */
@media  (max-width: 480px) {
    #sp-logo {
        background-color: pink;
        
    }

    .h3a-slogan{
      
        width:50%;
    }
    .div2 {
        background-color: lightgreen;
       
    }
}

/* Styles for laptop devices */
@media (min-width: 481px) and (max-width: 1024px) {
    #sp-logo {
        background-color: purple;
        width:60%;
    }
    .div2 {
        background-color: green;
      
    }
}

/* Styles for wide screen devices */
@media (min-width: 1025px) {
    #sp-logo {
        background-color: red;
        width:90%;
     
    }
    .div2 {
        background-color: darkgreen;
        
    }
}

/*********************************************************************************************************/
/* Date: April/May 2024 */
/* Contributor: mtrper001@myuct.ac.za */
/* Objective: Improve overal responsiveness of h3abionet.org mobile, laptop, ipad, and large screen look and feel */
/*********************************************************************************************************/
